### CMake ###
/build/CMakeFiles/
/build/thirdparty/
/build/CMakeCache.txt
/build/cmake_install.cmake
/build/

# test
/test/

# thirdparty
/thirdparty

# test
/testmuduo/

# lib
*.a
*.bak
*.so*

# vs
.vscode
